/ERPFree/bin/Debug/net6.0-windows/ERPFree.deps.json
/ERPFree/bin/Debug/net6.0-windows/ERPFree.dll
/ERPFree/bin/Debug/net6.0-windows/ERPFree.exe
/ERPFree/bin/Debug/net6.0-windows/ERPFree.pdb
/ERPFree/bin/Debug/net6.0-windows/ERPFree.runtimeconfig.json
/ERPFree/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ERPFree/obj/Debug/net6.0-windows/ERPFree.AssemblyInfo.cs
/ERPFree/obj/Debug/net6.0-windows/ERPFree.AssemblyInfoInputs.cache
/ERPFree/obj/Debug/net6.0-windows/ERPFree.GeneratedMSBuildEditorConfig.editorconfig
/ERPFree/obj/Debug/net6.0-windows/ERPFree.GlobalUsings.g.cs
/ERPFree/obj/Debug/net6.0-windows/ERPFree.assets.cache
/ERPFree/obj/Debug/net6.0-windows/ERPFree.csproj.AssemblyReference.cache
/ERPFree/obj/Debug/net6.0-windows/ERPFree.csproj.BuildWithSkipAnalyzers
/ERPFree/obj/Debug/net6.0-windows/ERPFree.csproj.CoreCompileInputs.cache
/ERPFree/obj/Debug/net6.0-windows/ERPFree.csproj.FileListAbsolute.txt
/ERPFree/obj/Debug/net6.0-windows/ERPFree.csproj.GenerateResource.cache
/ERPFree/obj/Debug/net6.0-windows/ERPFree.designer.deps.json
/ERPFree/obj/Debug/net6.0-windows/ERPFree.designer.runtimeconfig.json
/ERPFree/obj/Debug/net6.0-windows/ERPFree.dll
/ERPFree/obj/Debug/net6.0-windows/ERPFree.frmDesktop.resources
/ERPFree/obj/Debug/net6.0-windows/ERPFree.genruntimeconfig.cache
/ERPFree/obj/Debug/net6.0-windows/ERPFree.pdb
/ERPFree/obj/Debug/net6.0-windows/apphost.exe
/ERPFree/obj/Debug/net6.0-windows/ref/ERPFree.dll
/ERPFree/obj/Debug/net6.0-windows/refint/ERPFree.dll
/ERPFree/obj/ERPFree.csproj.nuget.dgspec.json
/ERPFree/obj/ERPFree.csproj.nuget.g.props
/ERPFree/obj/ERPFree.csproj.nuget.g.targets
/ERPFree/obj/project.assets.json
/ERPFree/obj/project.nuget.cache
/Support/pt-BR.xml
/.vs/ERPFree/FileContentIndex/*.vsidx
/.vs/ERPFree/FileContentIndex/39d0579f-68de-42cc-8877-65cbeb0b980f.vsidx
/ERPFree/obj/Debug/net6.0-windows/ERPFree.Properties.Resources.resources
/ERPFree/obj/Debug/net6.0-windows/ERPFree.frmClients.resources
/ERPFree/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
